.container-principal {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 85vh;
}
@media (max-width: 600px) {
    #seccion-izquierda {
        display: flex;
        flex-direction: column;
        height: 0%;
        width: 0%;
        color: black;
    }
}

@media (min-width: 601px) {
    #seccion-izquierda {
        display: flex;
        flex-direction: column;
        height: 97%;
        width: 15%;
        color: black;
    }
}

#carta-izquierda-slide{
    transition: transform 1.2s;
    transform: translateX(142.9%);
}

#carta-izquierda-spawn{
    animation-name: card-spawn;
    animation-duration: 1.2s;
}

@keyframes card-spawn {
    from {opacity: 0;}
    to {opacity: 1;}
  }


#subseccion-nombres{
    margin-top: 20%;
    width: 100%;
    height: 50%;
}

@media (min-width: 1001px) {
#seccion-derecha {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 97%;
    width: 85%;
}
}

@media (max-width: 1000px) {
    #seccion-derecha {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 97%;
        width: 100%;
    }
    }

#subseccion-circulos{
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    width: 95%;
    height: 95%;
    background-color: lightgray;
}

.columna-circulos{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.titulo-carta{
    font-size: xx-large;
}

.circulo-carta{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
    aspect-ratio: 1 / 1;
    background-color: white;
    box-shadow: 5px 10px 8px #888888;
}

.fila-imagenes{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 65%;
    height: 20%;
}

.fila-imagenes-laterales{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 20%;
}

.fila-imagenes-centro{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    height: 20%;
}

.imagen-carta:hover {
    transition: .2s ease;
    cursor: pointer;
    transform: scale(1.3);
    filter: drop-shadow(0px 0px 5px #333);
}

.imagen-carta{
    height: 5vh;
    width: auto;
}

.evento{
    opacity: 0.5;
    font-size: small;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 2%;
}

#seccion-timers{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: fit-content;
    align-items: center;
    justify-content: center;
}

.timer {
    display: flex;
    flex-direction: row;
    align-items: center;
    width:33%;
    height: 100%;
    justify-content: center;
}

#cooldown-timer{
    justify-content: flex-start;
    margin-left: 2.5%;
}

#cooldown-timer div{
    color: red;
}


