@import url(../common/common.scss);

/*match info section*/
.btn {
  font-size: var(--medium-font-size);
}

/*end match info section*/

/*Leaderboard section*/
.crown-icon {
  width: 3rem;
}

.leaderboard-container .row {
  border-radius: 1em;
  box-shadow: 2px 2px 5px 2px rgba(0,0,0,0.25);
}

.leaderboard-container .row:hover {
  background-color: rgba(0, 108, 250, 0.09);
  box-shadow: 2px 3px 5px 2px rgba(0,0,0,0.25), 1px 1px 4px 6px rgba(174, 194, 221, 0.164) inset;
}

.col-name h3 {
  color: var(--dark-gray-color);
  font-weight: 350;
}

.col-position h2, .col-wincount h2 {
  font-size: 3em;
}
/*end leaderboard section*/
